
body{
    background-color: #13131a;
    margin: 0;
    font-family: Arial, sans-serif;
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,#c770f0,#9f5de2);
    padding: 10px 40px;
    border-radius: 50px;
    margin: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width:60px;
    height:60px;
    border-radius: 50%;
    border: 3px solid black;
    margin-right: 10px;
}

#header ul{
    display:flex;
    list-style:none;
    padding: 0;
}

#header ul li{
    margin: 0 15px;
}

#header ul li a{
    text-decoration: none;
    color: black;
}

#header ul li a:hover{
    color: orange;
}


#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.home-text h2{
color: #c770f0;
}


.home-text{
    color: white;
    max-width: 500px;
}

.home-img img{
    width: 500px;
    border-radius: 20px;
}

#about h2 {
    color: #c770f0;
    margin-bottom: 20px;
}
#about {
    padding: 100px 10%;
    color: white;
    text-align: center;
}


.section-title {
    font-size: 40px;
    color: #c770f0;
    margin-bottom: 50px;
}


.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: left;
}


.about-text {
    flex: 1;
}

.about-text p {
    color: #aaa;
    margin-bottom: 15px;
}


.about-img img {
    width: 300px;
}


@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
}


#certifications {
    padding: 100px 10%;
    text-align: center;
}

.cert-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cert-card {
    background: #1e1e2f;
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    transition: 0.3s;
}

.cert-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(199,112,240,0.3);
}

.cert-card h2 {
    color: white;
    margin-bottom: 10px;
}

.cert-card p {
    color: #aaa;
}

.section-title{
    margin-bottom: 200px;
    color: #c770f0;
    text-align: center;
    
}
#contact {
    padding: 100px 10%;
    margin-top: 100px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-top: 40px;
}

/* Left Info */
.contact-info {
    flex: 1;
    color: #aaa;
}
.contact-info h2 {
    color: #c770f0;
    margin-bottom: 20px;
}

/* Form */
.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 12px;
    background: #c770f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #a855f7;
}

/* Mobile Fix */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}